<a href="https://colab.research.google.com/github/19PA1A04B3/AI/blob/master/assignment_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MEAN SQUARE ERROR:**
  It some what similar to mean absolute error  but in it we find the mean of the data and we subtract each value from mean and square them .It prevent negatives. At last add them all .Finally divide with total number.

  MSE=SIGMA(Yi-Y)/n

 ** MEAN ABSOLUTE ERROR :** 
 It is similar to MSE but in it we will not square instead we will use module because to remove negativity

 MAE=SIGMA(Yi-Y)/n

**R2 ERROR:**
     It shows how much variance is your model has found

R2=(Varience explained by the model)/total varience

In [0]:
import numpy as np #for handling arrays
import pandas as pd  #for handling tables from the data
import matplotlib.pyplot as plt # For handling graphs
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
from sklearn import metrics

In [6]:
std=pd.read_csv("students_placement_data (1).csv")
std

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [7]:
std.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [14]:
std.columns

Index(['Roll No', 'Gender', 'Section', 'SSC Percentage',
       'inter_Diploma_percentage', 'B.Tech_percentage', 'Backlogs',
       'registered_for_ Placement_Training', 'placement status'],
      dtype='object')

In [17]:
X=std["SSC Percentage"]
Y=std["B.Tech_percentage"]
print(X)
print(Y)

0      87.3
1      89.0
2      67.0
3      71.0
4      67.0
       ...
112    81.1
113    81.3
114    83.5
115    85.5
116    80.0
Name: SSC Percentage, Length: 117, dtype: float64
0      40.00
1      71.45
2      45.26
3      36.47
4      42.52
       ...
112    35.84
113    68.50
114    76.30
115    74.50
116    65.53
Name: B.Tech_percentage, Length: 117, dtype: float64

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [0]:
print(std.intercept_)

In [0]:
std.boxplot(column)