<a href="https://colab.research.google.com/github/19PA1A04B3/AI/blob/master/linear_regression_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [10]:
st=pd.read_csv('students_placement_data.csv')
st

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [11]:
st.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [12]:
st.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool